<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	id="WebApp_ID" version="3.1">
	<display-name>first_web_project</display-name>
	
		<!-- Views -->
	<servlet>
		<servlet-name>loginJsp</servlet-name>
		<jsp-file>/WEB-INF/views/login.jsp</jsp-file>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>loginJsp</servlet-name>
		<url-pattern>/login</url-pattern>
	</servlet-mapping>
	
	
		<servlet>
		<servlet-name>registrationJsp</servlet-name>
		<jsp-file>/WEB-INF/views/registration.jsp</jsp-file>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>registrationJsp</servlet-name>
		<url-pattern>/registration</url-pattern>
	</servlet-mapping>
	
		<servlet>
		<servlet-name>productsJsp</servlet-name>
		<jsp-file>/WEB-INF/views/products.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>productsJsp</servlet-name>
		<url-pattern>/products</url-pattern>
	</servlet-mapping>
	
			<servlet>
		<servlet-name>basketJsp</servlet-name>
		<jsp-file>/WEB-INF/views/basket.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>basketJsp</servlet-name>
		<url-pattern>/basket</url-pattern>
	</servlet-mapping>
	
	
			<!-- Views -->
			
	

</web-app>